[I 2022-04-01 01:28:20.337 LabApp] JupyterLab extension loaded from C:\Users\sama\anaconda3\lib\site-packages\jupyterlab
[I 2022-04-01 01:28:20.337 LabApp] JupyterLab application directory is C:\Users\sama\anaconda3\share\jupyter\lab
[I 01:28:20.494 NotebookApp] Serving notebooks from local directory: C:\Users\sama
[I 01:28:20.494 NotebookApp] Jupyter Notebook 6.4.5 is running at:
[I 01:28:20.494 NotebookApp] http://localhost:8888/?token=d52736898896b0c56c1fbe21184fa3696882673dc86bb8aa
[I 01:28:20.494 NotebookApp]  or http://127.0.0.1:8888/?token=d52736898896b0c56c1fbe21184fa3696882673dc86bb8aa
[I 01:28:20.540 NotebookApp] Use Control-C to stop this server and shut down all kernels (twice to skip confirmation).
[C 01:28:20.790 NotebookApp] 
    
    To access the notebook, open this file in a browser:
        file:///C:/Users/sama/AppData/Roaming/jupyter/runtime/nbserver-10460-open.html
    Or copy and paste one of these URLs:
        http://localhost:8888/?token=d52736898896b0c56c1fbe21184fa3696882673dc86bb8aa
     or http://127.0.0.1:8888/?token=d52736898896b0c56c1fbe21184fa3696882673dc86bb8aa
[W 01:33:06.849 NotebookApp] Notebook Untitled3.ipynb is not trusted
[I 01:33:41.241 NotebookApp] Kernel started: fedde014-3fd5-4a87-accc-827b8d8ee801, name: python3
[I 01:33:41.459 NotebookApp] Creating new notebook in 
[I 01:34:04.531 NotebookApp] Kernel started: bd580171-662d-4f8c-90f5-8bb8aa773cd2, name: python3
[I 01:35:59.911 NotebookApp] Saving file at /Untitled7.ipynb
[I 11:09:53.434 NotebookApp] Saving file at /Untitled7.ipynb
[I 15:36:20.314 NotebookApp] Starting buffering for bd580171-662d-4f8c-90f5-8bb8aa773cd2:b5a5a94bb09b46a785cd3877a337a20c
[I 17:41:04.715 NotebookApp] Restoring connection for bd580171-662d-4f8c-90f5-8bb8aa773cd2:b5a5a94bb09b46a785cd3877a337a20c
[W 17:41:12.012 NotebookApp] Nudge: attempt 10 on kernel bd580171-662d-4f8c-90f5-8bb8aa773cd2
[W 17:41:14.655 NotebookApp] Got events for closed stream None
[I 18:48:48.111 NotebookApp] Starting buffering for bd580171-662d-4f8c-90f5-8bb8aa773cd2:b5a5a94bb09b46a785cd3877a337a20c
[I 18:54:14.979 NotebookApp] Restoring connection for bd580171-662d-4f8c-90f5-8bb8aa773cd2:b5a5a94bb09b46a785cd3877a337a20c
[W 18:54:20.593 NotebookApp] Nudge: attempt 10 on kernel bd580171-662d-4f8c-90f5-8bb8aa773cd2
[I 20:24:09.631 NotebookApp] Starting buffering for bd580171-662d-4f8c-90f5-8bb8aa773cd2:b5a5a94bb09b46a785cd3877a337a20c
[I 20:30:02.573 NotebookApp] Restoring connection for bd580171-662d-4f8c-90f5-8bb8aa773cd2:b5a5a94bb09b46a785cd3877a337a20c
[I 20:30:56.878 NotebookApp] Starting buffering for bd580171-662d-4f8c-90f5-8bb8aa773cd2:b5a5a94bb09b46a785cd3877a337a20c
[I 20:31:23.145 NotebookApp] Restoring connection for bd580171-662d-4f8c-90f5-8bb8aa773cd2:b5a5a94bb09b46a785cd3877a337a20c
[I 20:31:43.858 NotebookApp] Starting buffering for bd580171-662d-4f8c-90f5-8bb8aa773cd2:b5a5a94bb09b46a785cd3877a337a20c
[I 20:33:02.786 NotebookApp] Restoring connection for bd580171-662d-4f8c-90f5-8bb8aa773cd2:b5a5a94bb09b46a785cd3877a337a20c
[W 21:15:52.088 NotebookApp] 403 PUT /api/contents/Untitled7.ipynb (::1): '_xsrf' argument missing from POST
[W 21:15:52.160 NotebookApp] '_xsrf' argument missing from POST
[W 21:15:52.162 NotebookApp] 403 PUT /api/contents/Untitled7.ipynb (::1) 199.590000ms referer=http://localhost:8888/notebooks/Untitled7.ipynb?kernel_name=python3
[W 21:17:20.645 NotebookApp] Notebook Documents/Untitled1 (23).ipynb is not trusted
[I 21:17:51.804 NotebookApp] Saving file at /Untitled7.ipynb
[I 21:18:01.886 NotebookApp] Kernel started: 186a7a97-adbb-430f-8ecd-0c2a8fe8ae3e, name: python3
[W 21:18:12.416 NotebookApp] 404 GET /nbextensions/widgets/notebook/js/extension.js?v=20220401012752 (::1) 2979.910000ms referer=http://localhost:8888/notebooks/Documents/Untitled1%20(23).ipynb
[I 21:20:01.135 NotebookApp] Saving file at /Documents/Untitled1 (23).ipynb
[I 21:21:51.141 NotebookApp] Saving file at /Untitled7.ipynb
[I 21:22:01.887 NotebookApp] Saving file at /Documents/Untitled1 (23).ipynb
[I 21:23:51.157 NotebookApp] Saving file at /Untitled7.ipynb
[I 21:24:01.037 NotebookApp] Saving file at /Documents/Untitled1 (23).ipynb
[I 21:25:51.149 NotebookApp] Saving file at /Untitled7.ipynb
[I 21:27:51.803 NotebookApp] Saving file at /Untitled7.ipynb
[I 21:31:02.541 NotebookApp] Starting buffering for 186a7a97-adbb-430f-8ecd-0c2a8fe8ae3e:b69b38dadf174b80b097c3e2e3cd5f6d
[W 21:32:12.896 NotebookApp] 404 GET /nbextensions/widgets/notebook/js/extension.js?v=20220401012752 (::1) 3.000000ms referer=http://localhost:8888/notebooks/Documents/Untitled1%20(23).ipynb
[I 21:35:51.143 NotebookApp] Saving file at /Untitled7.ipynb
[I 21:37:51.146 NotebookApp] Saving file at /Untitled7.ipynb
[W 22:11:33.538 NotebookApp] IOPub data rate exceeded.
    The notebook server will temporarily stop sending output
    to the client in order to avoid crashing it.
    To change this limit, set the config variable
    `--NotebookApp.iopub_data_rate_limit`.
    
    Current values:
    NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
    NotebookApp.rate_limit_window=3.0 (secs)
    
[I 22:15:51.190 NotebookApp] Saving file at /Untitled7.ipynb
[I 23:39:51.291 NotebookApp] Saving file at /Untitled7.ipynb
[I 23:43:01.487 NotebookApp] Starting buffering for bd580171-662d-4f8c-90f5-8bb8aa773cd2:b5a5a94bb09b46a785cd3877a337a20c
[I 23:43:02.519 NotebookApp] Starting buffering for 186a7a97-adbb-430f-8ecd-0c2a8fe8ae3e:cf9af793465d4aa480b25d9a61dc3164
[I 23:44:25.177 NotebookApp] Restoring connection for bd580171-662d-4f8c-90f5-8bb8aa773cd2:b5a5a94bb09b46a785cd3877a337a20c
[I 23:44:26.599 NotebookApp] Restoring connection for 186a7a97-adbb-430f-8ecd-0c2a8fe8ae3e:cf9af793465d4aa480b25d9a61dc3164
[W 23:44:31.172 NotebookApp] Nudge: attempt 10 on kernel bd580171-662d-4f8c-90f5-8bb8aa773cd2
[I 23:44:42.963 NotebookApp] Starting buffering for 186a7a97-adbb-430f-8ecd-0c2a8fe8ae3e:cf9af793465d4aa480b25d9a61dc3164
[I 23:57:40.504 NotebookApp] Saving file at /Untitled7.ipynb
[I 23:59:40.489 NotebookApp] Saving file at /Untitled7.ipynb
[I 00:01:40.474 NotebookApp] Saving file at /Untitled7.ipynb
[I 00:03:40.466 NotebookApp] Saving file at /Untitled7.ipynb
[I 00:03:55.627 NotebookApp] Starting buffering for bd580171-662d-4f8c-90f5-8bb8aa773cd2:b5a5a94bb09b46a785cd3877a337a20c
[W 00:03:56.925 NotebookApp] Notebook Untitled7.ipynb is not trusted
[I 00:04:59.773 NotebookApp] Starting buffering for bd580171-662d-4f8c-90f5-8bb8aa773cd2:2a9258d50371438095d9897a265a88c4
[W 00:05:00.352 NotebookApp] Notebook Untitled7.ipynb is not trusted
[I 00:05:11.443 NotebookApp] Creating new notebook in /Documents
[I 00:05:15.809 NotebookApp] Kernel started: 14e8fd2b-4a87-4b9f-a1b5-efbbb60db201, name: python3
[I 00:07:14.540 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 00:09:14.486 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 00:11:14.498 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 00:15:14.506 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 00:17:14.484 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 00:23:14.493 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 00:27:14.500 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 00:28:30.286 NotebookApp] Starting buffering for bd580171-662d-4f8c-90f5-8bb8aa773cd2:a55314c1442a48ed85b0e2188018f3ca
[I 00:39:14.527 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 00:39:19.836 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 00:41:14.497 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 00:43:14.490 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 00:47:14.523 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 00:49:14.513 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 00:51:14.504 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 00:53:14.471 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 01:05:14.473 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 01:07:14.516 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 01:09:14.484 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 01:11:14.490 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 01:13:14.489 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 03:27:36.257 NotebookApp] Starting buffering for 14e8fd2b-4a87-4b9f-a1b5-efbbb60db201:f2766aa46e6749bc854ed1c950f7786a
[I 20:01:35.432 NotebookApp] Restoring connection for 14e8fd2b-4a87-4b9f-a1b5-efbbb60db201:f2766aa46e6749bc854ed1c950f7786a
[W 20:01:40.896 NotebookApp] Nudge: attempt 10 on kernel 14e8fd2b-4a87-4b9f-a1b5-efbbb60db201
[W 20:01:45.978 NotebookApp] Nudge: attempt 20 on kernel 14e8fd2b-4a87-4b9f-a1b5-efbbb60db201
[W 20:01:51.070 NotebookApp] Nudge: attempt 30 on kernel 14e8fd2b-4a87-4b9f-a1b5-efbbb60db201
[W 20:01:56.163 NotebookApp] Nudge: attempt 40 on kernel 14e8fd2b-4a87-4b9f-a1b5-efbbb60db201
[W 20:02:01.241 NotebookApp] Nudge: attempt 50 on kernel 14e8fd2b-4a87-4b9f-a1b5-efbbb60db201
[W 20:02:06.340 NotebookApp] Nudge: attempt 60 on kernel 14e8fd2b-4a87-4b9f-a1b5-efbbb60db201
[I 20:45:05.069 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 20:53:04.003 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 20:55:04.055 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 20:57:03.980 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 21:23:03.998 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 21:25:03.987 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 21:27:03.977 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 21:29:04.033 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 21:31:03.975 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 21:33:03.982 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 21:35:03.994 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 21:39:03.972 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 21:41:03.976 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 21:43:03.976 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 21:51:03.974 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 21:53:03.970 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 21:55:03.992 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 22:21:03.996 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 22:27:03.977 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 22:29:03.983 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 22:31:03.953 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 22:33:03.973 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 22:53:03.979 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 22:55:03.977 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 22:57:03.988 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 22:59:03.956 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 23:01:03.988 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 23:09:03.975 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 23:11:03.996 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 23:13:03.971 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 23:15:03.978 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 23:29:04.062 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 23:33:39.788 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 23:33:56.759 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 23:35:03.970 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 23:39:03.991 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 23:39:48.497 NotebookApp] Creating new notebook in /Documents
[I 23:39:59.992 NotebookApp] Kernel started: b93a3fef-e195-4b61-aa7d-31eda1fcf597, name: python3
[I 23:41:04.638 NotebookApp] Saving file at /Documents/Untitled.ipynb
[I 23:41:59.934 NotebookApp] Saving file at /Documents/Untitled1.ipynb
[I 23:51:59.811 NotebookApp] Saving file at /Documents/Untitled1.ipynb
[I 01:27:56.828 NotebookApp] Starting buffering for b93a3fef-e195-4b61-aa7d-31eda1fcf597:3b1d73219172496a9543dd721847d79e
[I 01:27:59.731 NotebookApp] Starting buffering for 14e8fd2b-4a87-4b9f-a1b5-efbbb60db201:f2766aa46e6749bc854ed1c950f7786a
[I 01:29:25.969 NotebookApp] Restoring connection for b93a3fef-e195-4b61-aa7d-31eda1fcf597:3b1d73219172496a9543dd721847d79e
[I 01:29:26.827 NotebookApp] Restoring connection for 14e8fd2b-4a87-4b9f-a1b5-efbbb60db201:f2766aa46e6749bc854ed1c950f7786a
[W 01:29:31.504 NotebookApp] Nudge: attempt 10 on kernel b93a3fef-e195-4b61-aa7d-31eda1fcf597
[W 01:29:31.596 NotebookApp] Nudge: attempt 10 on kernel 14e8fd2b-4a87-4b9f-a1b5-efbbb60db201
[W 01:29:36.613 NotebookApp] Nudge: attempt 20 on kernel b93a3fef-e195-4b61-aa7d-31eda1fcf597
[W 01:29:36.753 NotebookApp] Nudge: attempt 20 on kernel 14e8fd2b-4a87-4b9f-a1b5-efbbb60db201
[W 01:29:38.015 NotebookApp] Got events for closed stream None
[W 01:29:38.054 NotebookApp] Got events for closed stream None
[W 01:29:42.471 NotebookApp] Nudge: attempt 30 on kernel 14e8fd2b-4a87-4b9f-a1b5-efbbb60db201
